nav {
	background-color: #808080;
}

a {
	background-color: #ffbf00;
	color: white;
	text-decoration: none;
	padding: 35px;
	display: block;
	float: left;

}

.clearfix:after {
 	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

a:hover {
	background-color: #ee5f3c;
}


body {
	background-color: white;
	text-align: center;

}

.board {
	display: inline-block;
	height: 80%;
	width: 50%;
}

.card {
	width: 150px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ffd700;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffd700;
	text-align: center;
}

p {
  text-align: center;
}
footer {
	background-color: #808080;
	text-align: center;
}

img {
  height: 200px;
  width: 150px;
}
